<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<div class="demo">
  <button (click)="onEditCourse()">Edit Course</button>
</div>

<div>
  <!-- Take courses Observable and subscribe to it using the async pipe (async pipe will take take of unsubscribing from the Observable when component gets destroyed) -->
  <div class="courses" *ngIf="(courses$ | async) as courses">
    <course-card *ngFor="let course of courses"
                 [course]="course"
                 (courseChanged)="save($event)">
      <course-image [src]="course.iconUrl"></course-image>

    </course-card>

  </div>


</div>




